In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [74]:
df = pd.read_csv('hospitality_Maharashtra_3.csv',encoding = "ISO-8859-1")
df.head()

   Unnamed: 0                                             Review  Rating
0           0  That was when I'd had enough of being polite a...       0
1           1   even in the evenings which have a lovely balm...       0
2           2   The Chhatrapati Shivaji Maharaj Vastu Sangrah...       1
3           3   Perhaps it was easier for him this time as we...       1
4           4   Javed offered to walk me to the actual ticket...       1

In [41]:
def sentiment_score(sentence):
    snt = analyser.polarity_scores(sentence)
    return (snt.get('compound',None))

In [75]:
df['sentiment'] = df['Review'].apply(sentiment_score)
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,That was when I'd had enough of being polite a...,0,-0.4019
1,1,even in the evenings which have a lovely balm...,0,0.5859
2,2,The Chhatrapati Shivaji Maharaj Vastu Sangrah...,1,0.6757
3,3,Perhaps it was easier for him this time as we...,1,0.8555
4,4,Javed offered to walk me to the actual ticket...,1,0.0000

In [77]:
df['sentiment'] = df['sentiment'].apply(np.sign)
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,That was when I'd had enough of being polite a...,0,-1.0
1,1,even in the evenings which have a lovely balm...,0,1.0
2,2,The Chhatrapati Shivaji Maharaj Vastu Sangrah...,1,1.0
3,3,Perhaps it was easier for him this time as we...,1,1.0
4,4,Javed offered to walk me to the actual ticket...,1,0.0

In [78]:
df['sentiment'].value_counts()

 1.0    501
 0.0    114
-1.0     76
Name: sentiment, dtype: int64

In [79]:
df['Rating'].value_counts()

1    570
0    121
Name: Rating, dtype: int64

In [80]:
 df.loc[df['sentiment']==0,'sentiment'] = df.loc[df['sentiment']==0,'Rating']

In [81]:
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,That was when I'd had enough of being polite a...,0,-1.0
1,1,even in the evenings which have a lovely balm...,0,1.0
2,2,The Chhatrapati Shivaji Maharaj Vastu Sangrah...,1,1.0
3,3,Perhaps it was easier for him this time as we...,1,1.0
4,4,Javed offered to walk me to the actual ticket...,1,1.0

In [83]:
df.loc[df['sentiment']==-1,'sentiment']=0

In [84]:
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,That was when I'd had enough of being polite a...,0,0.0
1,1,even in the evenings which have a lovely balm...,0,1.0
2,2,The Chhatrapati Shivaji Maharaj Vastu Sangrah...,1,1.0
3,3,Perhaps it was easier for him this time as we...,1,1.0
4,4,Javed offered to walk me to the actual ticket...,1,1.0

In [86]:
df['sentiment'].value_counts()

1.0    592
0.0     99
Name: sentiment, dtype: int64

In [87]:
df.to_csv('Maharashtra_hospitality.csv')