In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [51]:
df = pd.read_csv('hospitality_Rajasthan_3.csv',encoding = "ISO-8859-1")
df.head()

   Unnamed: 0                                             Review  Rating
0           0                  love like you've never been hurt,       1
1           1   I love the respite on my motorbike journeys f...       1
2           2   My guest house of choice has a platform just ...       1
3           3   In a nearby tree there was a different kind o...       1
4           4   small cormorants and different kinds of small...       1

In [52]:
def sentiment_score(sentence):
    snt = analyser.polarity_scores(sentence)
    return (snt.get('compound',None))

In [53]:
df['sentiment'] = df['Review'].apply(sentiment_score)
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,"love like you've never been hurt,",1,-0.2023
1,1,I love the respite on my motorbike journeys f...,1,0.6369
2,2,My guest house of choice has a platform just ...,1,0.5267
3,3,In a nearby tree there was a different kind o...,1,0.0000
4,4,small cormorants and different kinds of small...,1,-0.4215

In [54]:
df['sentiment'] = df['sentiment'].apply(np.sign)
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,"love like you've never been hurt,",1,-1.0
1,1,I love the respite on my motorbike journeys f...,1,1.0
2,2,My guest house of choice has a platform just ...,1,1.0
3,3,In a nearby tree there was a different kind o...,1,0.0
4,4,small cormorants and different kinds of small...,1,-1.0

In [55]:
df['sentiment'].value_counts()

 1.0    628
 0.0    193
-1.0     93
Name: sentiment, dtype: int64

In [56]:
df['Rating'].value_counts()

1    905
0      9
Name: Rating, dtype: int64

In [57]:
 df.loc[df['sentiment']==0,'sentiment'] = df.loc[df['sentiment']==0,'Rating']

In [58]:
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,"love like you've never been hurt,",1,-1.0
1,1,I love the respite on my motorbike journeys f...,1,1.0
2,2,My guest house of choice has a platform just ...,1,1.0
3,3,In a nearby tree there was a different kind o...,1,1.0
4,4,small cormorants and different kinds of small...,1,-1.0

In [59]:
df.loc[df['sentiment']==-1,'sentiment']=0

In [60]:
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,"love like you've never been hurt,",1,0.0
1,1,I love the respite on my motorbike journeys f...,1,1.0
2,2,My guest house of choice has a platform just ...,1,1.0
3,3,In a nearby tree there was a different kind o...,1,1.0
4,4,small cormorants and different kinds of small...,1,0.0

In [61]:
df['sentiment'].value_counts()

1.0    821
0.0     93
Name: sentiment, dtype: int64

In [62]:
df.to_csv('Rajasthan_hospitality.csv')