In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [68]:
df = pd.read_csv('hospitality_Uttar-Pradesh.csv',encoding = "ISO-8859-1")
df.head()

   Unnamed: 0                                             Review  Rating
0           0  "") e l'accesso ad una fonte di acqua calda co...       1
1           1  A lovely surprise awaited me at check in  I e...       1
2           2  Mid-morning and time to check out the breakfas...       1
3           3  an invite to a private cocktail tasting event ...       1
4           4   I was greeted by the usual mass of humanity b...       1

In [69]:
def sentiment_score(sentence):
    snt = analyser.polarity_scores(sentence)
    return (snt.get('compound',None))

In [70]:
df['sentiment'] = df['Review'].apply(sentiment_score)
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,""""") e l'accesso ad una fonte di acqua calda co...",1,0.0000
1,1,A lovely surprise awaited me at check in  I e...,1,0.7003
2,2,Mid-morning and time to check out the breakfas...,1,0.0000
3,3,an invite to a private cocktail tasting event ...,1,0.1779
4,4,I was greeted by the usual mass of humanity b...,1,-0.2382

In [71]:
df['sentiment'] = df['sentiment'].apply(np.sign)
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,""""") e l'accesso ad una fonte di acqua calda co...",1,0.0
1,1,A lovely surprise awaited me at check in  I e...,1,1.0
2,2,Mid-morning and time to check out the breakfas...,1,0.0
3,3,an invite to a private cocktail tasting event ...,1,1.0
4,4,I was greeted by the usual mass of humanity b...,1,-1.0

In [72]:
df['sentiment'].value_counts()

 1.0    564
 0.0    166
-1.0    104
Name: sentiment, dtype: int64

In [73]:
df['Rating'].value_counts()

1    764
0     70
Name: Rating, dtype: int64

In [74]:
 df.loc[df['sentiment']==0,'sentiment'] = df.loc[df['sentiment']==0,'Rating']

In [75]:
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,""""") e l'accesso ad una fonte di acqua calda co...",1,1.0
1,1,A lovely surprise awaited me at check in  I e...,1,1.0
2,2,Mid-morning and time to check out the breakfas...,1,1.0
3,3,an invite to a private cocktail tasting event ...,1,1.0
4,4,I was greeted by the usual mass of humanity b...,1,-1.0

In [76]:
df.loc[df['sentiment']==-1,'sentiment']=0

In [77]:
df.head()

,Unnamed: 0,Review,Rating,sentiment
0,0,""""") e l'accesso ad una fonte di acqua calda co...",1,1.0
1,1,A lovely surprise awaited me at check in  I e...,1,1.0
2,2,Mid-morning and time to check out the breakfas...,1,1.0
3,3,an invite to a private cocktail tasting event ...,1,1.0
4,4,I was greeted by the usual mass of humanity b...,1,0.0

In [78]:
df['sentiment'].value_counts()

1.0    708
0.0    126
Name: sentiment, dtype: int64

In [79]:
df.to_csv('Uttarpradesh_hospitality.csv')