In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [80]:
df = pd.read_csv('actual_statement_hospitality1.txt',encoding = "ISO-8859-1",sep='\t',header=None)
df.head()

                                                   0  1
0   contains no water or sugar and is served very...  0
1  brothers who run the farm are two interesting ...  1
2  is easy living at it's best with hospitality l...  1
3   Highway truly smiled and became shining with ...  1
4   since the Sun god was not kind enough during ...  0

In [81]:
df = df.rename(columns={0:'Review',1:'Rating'})
df['Review'] = df['Review'].apply(str)
df.head()

                                              Review  Rating
0   contains no water or sugar and is served very...       0
1  brothers who run the farm are two interesting ...       1
2  is easy living at it's best with hospitality l...       1
3   Highway truly smiled and became shining with ...       1
4   since the Sun god was not kind enough during ...       0

In [82]:
def sentiment_score(sentence):
    snt = analyser.polarity_scores(sentence)
    return (snt.get('compound',None))

In [83]:
df['sentiment'] = df['Review'].apply(sentiment_score)
df.head()

                                              Review  Rating  sentiment
0   contains no water or sugar and is served very...       0    -0.2960
1  brothers who run the farm are two interesting ...       1     0.7579
2  is easy living at it's best with hospitality l...       1     0.8625
3   Highway truly smiled and became shining with ...       1     0.7506
4   since the Sun god was not kind enough during ...       0    -0.5538

In [84]:
df['sentiment'] = df['sentiment'].apply(np.sign)
df.head()

                                              Review  Rating  sentiment
0   contains no water or sugar and is served very...       0       -1.0
1  brothers who run the farm are two interesting ...       1        1.0
2  is easy living at it's best with hospitality l...       1        1.0
3   Highway truly smiled and became shining with ...       1        1.0
4   since the Sun god was not kind enough during ...       0       -1.0

In [85]:
df['sentiment'].value_counts()

 1.0    560
 0.0    161
-1.0     87
Name: sentiment, dtype: int64

In [86]:
df['Rating'].value_counts()

1    707
0    101
Name: Rating, dtype: int64

In [87]:
 df.loc[df['sentiment']==0,'sentiment'] = df.loc[df['sentiment']==0,'Rating']

In [88]:
df.head()

                                              Review  Rating  sentiment
0   contains no water or sugar and is served very...       0       -1.0
1  brothers who run the farm are two interesting ...       1        1.0
2  is easy living at it's best with hospitality l...       1        1.0
3   Highway truly smiled and became shining with ...       1        1.0
4   since the Sun god was not kind enough during ...       0       -1.0

In [89]:
df.loc[df['sentiment']==-1,'sentiment']=0

In [90]:
df.head()

                                              Review  Rating  sentiment
0   contains no water or sugar and is served very...       0        0.0
1  brothers who run the farm are two interesting ...       1        1.0
2  is easy living at it's best with hospitality l...       1        1.0
3   Highway truly smiled and became shining with ...       1        1.0
4   since the Sun god was not kind enough during ...       0        0.0

In [91]:
df['sentiment'].value_counts()

1.0    700
0.0    108
Name: sentiment, dtype: int64

In [92]:
df.to_csv('karnataka_hospitality.csv')